.form__button-linkedin {
    background-color: #0076B6;
    background-image: url('../../../img/linkedin.svg');
    background-size: 15px;
    background-position: 10px center;
    background-repeat: no-repeat;
    }
    