.form__fieldset {
    display: flex;
    gap: 30px;
    padding: 0;
    border: none;
    margin: 40px 0 0;
}

@media screen and (max-width: 768px) {
    .form__fieldset {
      flex-direction: column;
    }
  }