.form__info {
    margin: 20px 0 0;
    width: 50%;
    padding: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    font-family: 'Barlow';
    font-size: 14px;
    color: #AFAFAF;
    border-radius: 2px;
}

@media screen and (max-width: 600px) {
    .form__info {
      width: 100%
    }
  }

/* TODO тень другого вида */